.ipynb_checkpoints/README-checkpoint.md
 create mode 100644 .ipynb_checkpoints/Untitled-checkpoint.ipynb
 create mode 100644 .ipynb_checkpoints/nig_health-checkpoint.ipynb
 create mode 100644 .ipynb_checkpoints/requirements-checkpoint.txt
